          <div class="news">
            <h2>News</h2>
            <ul>
                <li><p><a href="">Latest works published at AAAI and PMLR.</a></p></li>
                <li><p><a href="">I am hiring PhD students!</a></p></li>
                <li><p>I joined the University of Edinburgh as a faculty member!</p></li>
                <li><p>I presented our new work on <em>Privately Measuring Demographic Performance Disparities in Federated Learning</em>. <a href="https://twitter.com/mjuarezm_/status/1550537320922722305?s=20&t=leI_GVuFmYl9El-cpin3iw">See tweet</a>.</p></li>
          </div>
