
          <div class="publications">
<br> <br>
<ul style="list-style-type: none; padding: 0; margin: 0;">
    <li><strong>ML-Based Traffic Analysis</strong></li>: the development and evaluation of defenses from both a practical and theoretical approach.</p></li>

<div style="margin-right:5%">
            {% bibliography -f papers -q @*[selected=true,traffic_analysis=true]* %}
</div>

<li><p><strong>Security and Privacy of ML</strong>: the design of methods to audit privacy and security of ML models; the development of privacy-aware ML.</p></li>
<li><p><strong>Privacy and Fairness</strong>: the study of disparate privacy risks across demographics; the privacy challenges that arise from identifying and mitigating algorithmic bias.</p></li>
</ul>


          </div>
