---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            <div class="image">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_cicular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            </div>
            <div class="affiliation">
            {%- if page.profile.affiliation %}
              {{ page.profile.affiliation }}
            {%- endif %}
            </div>
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}

              <div class="news">
                <h2>News</h2>
                <ul>
	            <li><p>Paper accepted at USENIX'25 on VAE-based attacks against Tree-Ring watermarking. <a href="http://arxiv.org/abs/2506.10502" target="_blank">Check it out!</a></li>
	            <li><p>We have received GAIL seed funding to work on undetectable watermarks for generative AI.</li>
	            <li><p>Paper accepted to SaTML'25 on the <a href="https://arxiv.org/abs/2501.14414v1" target="_blank">(un)fairness of private ML.</a></li>
                    <li><p>We won the PETS student paper award for our work on end-to-end correlation in Nym. Check our <a href="https://www.esat.kuleuven.be/cosic/blog/mixmatch-flow-matching-for-mixnet-traffic/">our blog post</a>!</p></li>
	            <li><p>I am grateful to receive a 2024 <a href="https://research.google/programs-and-events/research-scholar-program/recipients/?filtertab=2024">Google Research Scholar Award in Security</a></li>
                    <li><p>New paper on the <a href="https://arxiv.org/abs/2202.09727">fair exposure problem</a> under homophily was presented at AAAI'23 by Jakob Schoeffer.</p></li>
              </div>

            <h2>Research</h2>

            <p>My research topics and a sample of relevant work:</p>

            <ul>
                <li><p><strong>ML-Based Traffic Analysis</strong>: the development and evaluation of traffic analysis defenses from both a practical and theoretical point of view.</p></li>
                <ul>
                    <li><p><a href="https://www.research.ed.ac.uk/files/454465144/OldenburgEtalPoPETs2024MixMatchFlowMatching.pdf" target="_blank">Oldenburg et al. "MixMatch: Flow Matching for Mixnet Traffic." PETS, 2024.</a></p></li>
                </ul>
                <li><p><strong>Security and Privacy of ML</strong>: the design of methods to audit privacy and security of ML models, and the development of privacy-aware ML techniques.</p></li>
                <ul>
                    <li><p><a target="_blank" href="http://arxiv.org/abs/2506.10502">Lin and Juarez. "A Crack in the Bark: Leveraging Public Knowledge to Remove Tree-Ring
  Watermarks," to appear in USENIX Security, 2025.</a></p></li>
                </ul>
                <li><p><strong>Privacy and Fairness</strong>: the privacy challenges that arise from identifying and mitigating algorithmic bias.</p></li>
                <ul>
                    <li><p><a href="https://arxiv.org/abs/2501.14414" target="_blank">Yao and Juarez. "SoK: What Makes Private Learning Unfair?", IEEE SaTML, 2025.</a></p></li>
                </ul>
            </ul>

        See the complete list of <a href="./publications"><code class="language-plaintext highlighter-rouge">publications</code></a>.

        <h2><br>Students</h2>

            <ul><li><a href="https://kaikaiyao.github.io">Kai Yao</a></li></ul>
            <ul><li>Lisa Lavrentieva</li> (co-supervised with Michio Honda)</ul>
            <ul><li>Tobias Cheung (second supervisor)</li></ul>
            <ul><li>Molham Khoja (second supervisor)</li></ul>

	<p>I am always interested in hiring talented PhD students whose research interests overlap with mine. Please attach a short research proposal when contacting me.</p>


          <!-- Social -->
          {%- if page.social %}
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>



</div>
